{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/courses/course-index.css' %}"/>
{% endblock %}

{% block content %}
    <section class="page-header">
        <h1>Top Courses</h1>
    </section>
    <section class="card-container">
        {% for course in courses %}
            <div class="card">
                <a href="{% url 'course-detail' course.id %}">
                    <div class="card-img-container">
                        {% if course.image_url %}
                            <img src="{{ course.image_url }}" alt="{{ course.name }}">
                        {% else %}
                            <img src="{% static 'images/default-course.jpg' %}" alt="Default Course Image">
                        {% endif %}
                    </div>
                </a>
                <h2 class="card-title">
                    <a href="{% url 'course-detail' course.id %}">{{ course.name }}</a>
                </h2>
            </div>
        {% endfor %}
    </section>    
{% endblock %}
