{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/courses/course-index.css' %}"/>
{% endblock %}

{% block content %}
    <section class="page-header">
        <h1>My Courses</h1>
    </section>

    {% if courses %}
        <section class="card-container">
            {% for course in courses %}
                <div class="card">
                    <a href="{% url 'course-detail' course.id %}">
                        <div class="card-img-container">
                            {% if course.image_url %}
                                <img src="{{ course.image_url }}" alt="{{ course.name }}">
                            {% else %}
                                <img src="{% static 'images/default-course.jpg' %}" alt="Default Course Image">
                            {% endif %}
                        </div>
                    </a>
                    <h2 class="card-title">
                        <a href="{% url 'course-detail' course.id %}">{{ course.name }}</a>
                    </h2>

                    {% if not course.is_top_course %}
                        <div class="course-actions">
                            <a href="{% url 'course-update' course.id %}" class="btn edit">Edit</a>
                            <a href="{% url 'course-delete' course.id %}" class="btn delete">Delete</a>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </section>
    {% else %}
        <div class="empty-course-container">
            <a href="{% url 'course-create' %}" class="btn add-course-btn">+ Add Course</a>
        </div>
    {% endif %}
{% endblock %}
