<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="shortcut icon" type="image/png" href="" />
    <title>CourseRate</title>
    {% block head %} 
    {% endblock %}
  </head>
  <body>
    <header>
      <nav>
        <div class="nav-logo">
          <img src="{% static 'images/CourseRate.png' %}" alt="CourseRate Logo" class="img-logo"/>
          <span class="site-title">CourseRate</span>
        </div>
        <ul class="nav-links">
          <li><a href="{% url 'home' %}" class="button">Home</a></li>
          <li><a href="{% url 'about' %}" class="button">About</a></li>
          <li><a href="{% url 'course-index' %}" class="button">Top Courses</a></li>
    
          {% if user.is_authenticated %}
            <li><a href="{% url 'user-courses' %}" class="button">My Courses</a></li>
            <li><a href="{% url 'course-create' %}" class="button">Add Course</a></li>
            <form action="{% url 'logout' %}" method="post">
              {% csrf_token %}
              <button type="submit" class="button">Logout</button>
            </form>
          
          {% else %}
            <li><a href="{% url 'login' %}" class="button">Login</a></li>
            <li><a href="{% url 'register' %}" class="button">Sign Up</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>        
    
    <main>
      {% block content %} 
      {% endblock %}
    </main>
  </body>
</html>
